/* Globals */

@font-face {
  font-family: PhotographScript;
  src: url("src/PhotographSignature.ttf") format("truetype");
}

body {
  background-color: #f5f6ff;
  font-family: "Source Sans Pro";
  font-weight: lighter;
}

/* Links */

a {
  color: #203968;
}

a:focus,
a:hover {
  color: #677185;
}

/* Custom default button */

.btn-lg,
.btn-danger,
.btn-secondary {
  color: #fff;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  border: none;
  font-size: small;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-secondary,
.btn-lg {
  background-color: #203968;
}

.btn-lg:hover,
.btn-lg:focus,
.btn-secondary:hover,
.btn-secondary:focus {
  color: white;
  background-color: #677185;
}

.btn-danger {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Base structure */

html,
body {
  height: 100%;
  background-color: #f5f6ff;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #203968;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  border: 4px solid #fff;
  background-color: #203968;
}

.cover-container {
  max-width: 50em;
}

@media screen and (max-width: 600px) {
  .cover-heading {
    font-size: 10vmax;
  }

  .kcls {
    font-size: 7vmax;
  }

  .avatar {
    width: 80vw;
  }
  .mid {
    font-size: 6.7vmax;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: transparent;
    text-shadow: 0 0 8px #fff;
  }

  input,
  select,
  textarea {
    width: 60vw;
  }

  button {
    width: 20vw;
  }

  .intro,
  .intro-centered {
    padding: 0.8rem 1.25rem;
  }

  #paperPrototypeCarousel{
    width: 100%;
  }

  #personaCarousel{
    width: 100%;
  }

  .XD {
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .cover-heading {
    font-size: 8vmax;
  }

  .kcls {
    font-size: 5vmax;
  }

  .avatar {
    width: 25vw;
  }

  .nav-masthead .nav-link {
    margin: 0 2rem;
  }

  .mid {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: transparent;
    text-shadow: 0 0 8px #fff;
  }

  input,
  select,
  textarea {
    width: 20vw;
  }

  button {
    width: 5vw;
  }

  .card {
    margin: 2rem 0;
  }

  .intro,
  .intro-centered {
    padding: 0.8rem 1.35rem;
    width: 85%;
  }

  .card-body,
  .card-text {
    text-align: left;
  }

  #paperPrototypeCarousel{
    width: 60%;
  }

  #personaCarousel{
    width: 85%;
  }
  
  .XD{
    width: 85%;
  }
}

/* Header */

.masthead {
  margin-bottom: 2rem;
}

.nav-masthead .nav-link {
  letter-spacing: 1px;
  padding: 0.25rem 0;
  color: #203968;
  background-color: transparent;
  border-bottom: 0.1rem solid transparent;
  font-size: small;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: #677185;
  border-bottom-color: #677185;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #677185;
  border-bottom-color: #677185;
}

/* Cover */

.cover {
  padding: 0 1.5rem;
}

.intro-cover {
  padding: 0;
}

.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  margin: 3rem 0;
  font-weight: normal;
}

.cover-heading {
  font-family: PhotographScript;
  color: #203968;
  font-weight: normal;
  text-shadow: 6px 6px 8px #6771854f;
  margin: 2rem 0 0 0;
}

.lead {
  letter-spacing: 2px;
  line-height: 3rem;
  font-size: medium;
}

.carousel {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: white 0.5rem double;
  filter: drop-shadow(6px 6px 8px #67718598);
  border-radius: 5px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23203968' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23203968' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* about */

.avatar {
  background-color: transparent;
  background-size: cover;
  filter: drop-shadow(0 0 0.5rem #677185);
}

.containerBox {
  position: relative;
  display: inline-block;
  background-color: transparent;
}

.text-box {
  position: absolute;
  height: 100%;
  text-align: center;
  width: 100%;
  z-index: 1;
  top: 40%;
  background-color: transparent;
}

.text-box:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.overlay {
  display: inline-block;
  color: #203968;
  /*text-shadow: 0 0 8px #fff;*/
  background-color: #f5f6ff8a;
  border-radius: 10%;
  box-shadow: 0px 0px 20px #f5f6ff;
}

.intro {
  background-color: #fff;
  border-radius: 3px;
  filter: drop-shadow(6px 6px 8px #6771854f);
  line-height: 2rem;
  font-size: 15px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.intro-centered {
  text-align: center;
  background-color: #fff;
  border-radius: 3px;
  filter: drop-shadow(6px 6px 8px #6771854f);
  line-height: 2rem;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
}

.skills {
  background-color: #fff;
  line-height: 2rem;
  font-size: 17px;
  font-weight: bold;
}

.bold {
  font-weight: bold;
  background-color: #fff;
}

/* contact form */

form,
label {
  font-size: small;
  letter-spacing: 1px;
  border: none;
}

.left {
  text-align: left;
  margin: 0.25rem 0 0.75rem 0;
  letter-spacing: 2px;
  font-weight: bold;
}

input,
select,
textarea {
  padding: 12px;
  border: 1px solid #203968;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
  resize: vertical;
  height: 2rem;
  letter-spacing: 1px;
  font-size: 15px;
}

textarea {
  height: 10rem;
}

button {
  background-color: #203968;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1vw;
  -webkit-appearance: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: auto;
}

/* Portfolio */

.card-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  background-color: #fff;
  font-size: 16px;
}

.card-body,
.card-text {
  background-color: #fff;
  letter-spacing: 2px;
  text-align: left;
  font-size: 15px;
}

.date {
  color: #677185;
  text-transform: uppercase;
  font-size: small;
  margin: 0 0 0.5rem 0;
}

.global-nominee {
  background-color: #fff;
  color: rgb(255, 51, 51);
  font-weight: bold;
}

/* Footer */

.mastfoot {
  color: #203968;
  letter-spacing: 1px;
  padding: 15px;
}

.social-media {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.social-media i {
  font-size: 2rem;
  margin: 0 4vw;
}

.fa-code,
.fa-adobe,
.fa-wix,
.fa-drupal {
  background-color: #fff;
}

.fa-github-square {
  color: #333;
}

.fa-facebook-square {
  color: #3b5998;
}

.fa-instagram {
  color: transparent;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.fa-linkedin {
  color: #0077b5;
}
